lhe-to-root-master/* 
samples_heavyion/* 
backup/*
notes/*
scripts/*

*.root 

/media/danbiajujumiguel/T7/HI_analysis/OO_bbbar_analysis/output/*
/media/danbiajujumiguel/T7/HI_analysis/OO_ttbar_analysis/output/*
/media/danbiajujumiguel/T7/HI_analysis/OO_ccbar_analysis/output/*


/media/danbiajujumiguel/T7/HI_analysis/OO_bbbar_analysis/input_root/*
/media/danbiajujumiguel/T7/HI_analysis/OO_ccbar_analysis/input_root/*
/media/danbiajujumiguel/T7/HI_analysis/OO_ttbar_analysis/input_root/*

*.csv 
*.hepmc
*.lhe


